<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Alumno</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Detalles del Alumno</h1>
    <div class="detalle">
      <img src="/<%= alumno.foto %>" alt="Foto del alumno" style="width:200px;height: 200px;">
      <form action="/alumnos/<%= alumno._id %>/detalle" method="POST" enctype="multipart/form-data">
        <label for="foto">Subir Foto</label>
        <input type="file" name="foto">
        <input type="hidden" name="fotoActual" value="<%= alumno.foto %>">
        <label for="primerParcial">Primer Parcial</label>
        <input type="number" name="primerParcial" value="<%= alumno.calificaciones.primerParcial %>" required>
        <label for="segundoParcial">Segundo Parcial</label>
        <input type="number" name="segundoParcial" value="<%= alumno.calificaciones.segundoParcial %>" required>
        <label for="ordinario">Ordinario</label>
        <input type="number" name="ordinario" value="<%= alumno.calificaciones.ordinario %>" required>
        <label for="extra">Extra</label>
        <input type="number" name="extra" value="<%= alumno.calificaciones.extra %>" required>
        <label for="titulo">Título</label>
        <input type="number" name="titulo" value="<%= alumno.calificaciones.titulo %>" required>
        <button type="submit">Guardar Cambios</button>
      </form>
    </div>
    <button onclick="window.location.href='/alumnos'">Volver</button>
  </div>
</body>
</html>
